# Ignore node_modules (libraries)
node_modules/

# Ignore Hardhat cache
cache/
artifacts/

# Optional: Ignore environment secrets
.env
secret.json

# Ignore log files
*.log

# Ignore build folder (React or frontend builds)
build/
dist/

# Ignore system files
.DS_Store

node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
